.innerHeaderIcon {
    min-width: 270px;
}
.searchEvents .input-group .form-control {
    width: calc(100% - 70px);
}
.innerBodyHeader {
    justify-content: space-between;
}
.innerBodyHeader .headerAvtar, .headerAvtar  {
    margin-left: 0;
    width: calc(100% - 260px);
    justify-content: flex-end;
}
.innerLogoRight {
    width: calc(100% - 310px);
}


.tab-content>.active {
    opacity: 1;
}
.leftSlidePan {
    position: absolute;
    width: 299px;
    left: 15px;
    top: 0;
}
.rightSlidePan {
    position: absolute;
    width: 299px;
    right: 0;
    top: 0;
}
.midPan {
    width: calc(100% - 640px);
    margin-left: 320px;
    margin-right: 320px;
}
.matchCountNumber {
    color: #3b71b9;
    font-size: 20px;
}
.matchCountText {
    color: #3b71b9;
    font-size: 14px;
}
.borderleftright {
    border-left: 1px solid #3b71b9;
    border-right: 1px solid #3b71b9;
}
.feedTab li {
    width: 50%;
    text-align: center;
    padding-top: 26px;
}
.feedTab li a {
    color: #b8b8b8;
    font-size: 16px;
}
.feedTab li a.active {
    color: #3b71b9;
    font-size: 16px;
    text-decoration: underline;
}
.matchHolder {
    background-color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    text-align: center;
    padding: 10px 12px;
    margin-right: 10px;
}
.matchHolder h5 {
    font-weight: 600;
    font-size: 14px;
    color: #3b71b9;
}
.slidenumb {
    font-size: 16px;
    color: #91d639;
}
.matchSlideHold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.matchMinMax {
    display: flex;
    flex-direction: column;
}
.minMaxText {
    font-weight: 600;
    font-size: 11px;
    color: #3b71b9;
    display: block;
    line-height: 12px;
}
.minMaxInfo {
    font-weight: 400;
    font-size: 8px;
    color: #b8b8b8;
    line-height: 12px;
}
.slideMatch {
    width: 140px;
    height: 5px;
    background-color: #b8b8b8;
    position: relative;
    margin-top: 9px;
    border-radius: 4px;
}
.slideBar {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    background-color: #3b71b9;
    width: 50%;
}
.slideBullet {
    position: absolute;
    right: 0;
    top: -7px;
}
.perEvent {
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    padding-top: 7px;
}
.perEvent img {
    margin: 0 auto;
    display: block;
}
.perEvent span {
    background-color: #91d639;
    color: #fff;
    font-size: 17px;
    display: block;
    text-align: center;
    border-radius: 0 0 7px 7px;
    line-height: 30px;
}
.orangeText {
    color: #ff9900 !important;
}
.leftrightHeading {
    font-size: 20px;
    color: #3b71b9;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}
.feedImg {
    display: flex;
    flex-direction: row;
}
.feedImg div {
    width: 50%;
    height: 50px;
}
.feedadd {
    position: absolute;
    left: 51px;
    top: 15px;
}
.connectedInfo p {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0;
}
.connectedInfo p i {
    color: #3b71b9;
    font-style: normal;
}
.connectedInfo span {
    font-weight: 400;
    font-size: 8px;
    color: #91d639;
}
.feedInfo {
    margin-bottom: 15px;
}
.feedInfo p {
    font-weight: 400;
    font-size: 12px;
    color: #3b71b9;
    margin-top: 0;
    margin-bottom: 0;
}
.feedInfo p span {
    color: #000;
}
.greenCountFeed {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #91d639;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 7px;
}
.uploadPhotoHeading {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    color: #000;
}
.dismissButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #f2f2f2;
    line-height: 25px;
    text-align: center;
    color: #b8b8b8;
    font-size: 10px;
    padding: 0 15px;
    margin-left: 15px;
}
.messageButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #3b71b9;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 0 15px;
    margin: 0 15px;
}
.tagstarButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #ff9900;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 0 15px;
}