.sb-container{
    position: relative;
    overflow: hidden;
    padding-right: 10px;
}
.sb-content {
  height:100%;
  width: 120%;
  padding-right: 20%;
  overflow-y: scroll;
  box-sizing:border-box;
}
.sb-scrollbar-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    width: 5px;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.sb-container-noscroll .sb-scrollbar-container {
    right: -20px;

}

.sb-scrollbar {
  position: absolute;
  right: 0;
  height: 10px;
  width: 5px;
  border-radius: 10px;
  background: #e86338;

}

.sb-scrollbar:hover {
    background: #e86338;
}
